# Link as
# $ sudo ln -s /home/francesco/weather/probe/sense/bmp280/bmp280.service /lib/systemd/system/bmp280.service
[Unit]
Description=BMP280 probing script
After=network.target

[Service]
Type=simple
User=francesco
WorkingDirectory=/home/francesco/weather/probe/sense/bmp280/
ExecStart=/home/francesco/weather/probe/sense/bmp280/bmp280/bin/python3 bmp280.py
Restart=on-failure # or always, on-abort, etc

[Install]
WantedBy=multi-user.target
